/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html, body, footer {
  display: block;
  min-height: 100%;
}
body {
  line-height: 1.2;
  font-family: sans-serif;
  color: black;
  background-color: white;
}
ol, ul {
  margin-left: 2em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #550055;
}
#header {
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 3px solid black;
}
#header h1 {
  position: relative;
  padding: 1em 1em 0;
  margin-left: 9em;
}
#header h1 a {
  font-size: 2em;
  color: inherit;
  text-decoration: none;
  display: block;
}
#header h1 img {
  position: absolute;
  top: 0px;
  right: 100%;
  padding: 5px;
  background-color: white;
}
#header h1 .description {
  display: block;
}
#content {
  clear: both;
  padding-top: 1em;
  margin: 0 1em;
  position: relative;
}
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
#content p,
#content ul,
#content ol table,
#content div.media {
  margin-bottom: 1em;
}
#content h2 {
  font-size: 1.5em;
}
article {
  margin-left: 10em;
  margin-bottom: 5em;
}
article .meta {
  float: left;
  margin-left: -10em;
  width: 9em;
  text-align: right;
}
article .meta p {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
article .meta p.tags a {
  display: inline-block;
  margin: 0.2em 0px;
  border-radius: 3px;
  background-color: #ddd;
  padding: 3px 6px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  color: black;
}
article div.media {
  position: relative;
  padding: 1em;
  background-color: #ddd;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  text-align: center;
}
article div.media img {
  max-width: 100%;
}
footer {
  border-top: 3px solid black;
  border-radius: 3px;
  padding: 1em;
  overflow: hidden;
}
footer section {
  width: 30%;
  margin-right: 1%;
  float: left;
}
footer section::last-child {
  margin-right: 0%;
}
